build/

# local .vimrc
.vimrc
*.swp
.clangd
compile_commands.json

.build/

# CMake
cmake-build-*/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*_include.cmake
*_tests.cmake


# test
test/rwstream/test_rwstream
