body{
    padding: 0;margin: 0;
    background-color:#49C593 ;
}
#calculator{
    position: absolute;
    width: 1200px;height: 620px;
    left: 50%;top: 50%;
    margin-left: -600px;
    margin-top: -310px;
}
#calculator #c_title {
    margin: auto;
    /*margin-left: 300px;*/
    width: 800px;
    height: 80px;
}
#calculator #c_title h2{
    text-align: center;
    font-size: 33px;font-family: "微软雅黑";color: #666;
    line-height: 30px;
}
#c_text{
    width: 1000px;
    margin: auto;
}
#calculator #c_text #text{
    /*margin-left: 200px;*/
    padding-right: 10px;
    width: 1000px;
    height: 50px;
    font-size: 25px;font-family: "微软雅黑";color: #666666;
    text-align: right;border: 1px white;
    border: double 1px;
}
#calculator #c_value{
    width: 1080px;height: 408px;
    /*margin-left: 160px;*/
    margin: 20px auto;
}
#calculator #c_value ul{
    margin: 0;
}
#calculator #c_value ul li{
    margin: 10px;
    list-style: none;float: left;
    width: 180px;height: 80px;line-height: 80px;
    text-align: center;background-color: chartreuse;
    border: 1px solid black;
    font-size: 30px;font-family: "微软雅黑";color: #666;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.4);           
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
#calculator #c_value ul li:active{
    background-color: white;
}
#calculator #c_value ul li:hover{
    opacity:0.8;
    cursor:pointer;
}
#calculator #c_value ul .c_blue{
    background-color: cornflowerblue;color: #000000;
}
#calculator #c_value ul .c_yellow{
    background-color: #f9f900;color: #000000;
}
