.border_yellow {
    border-style: solid;
    border-width: thick;
    border-color: yellow;
}
.border_red {
    border-style: solid;
    border-width: thick;
    border-color: red;
}
.border_green {
    border-style: solid;
    border-width: thick;
    border-color: green;
}
.border_blue {
    border-style: solid;
    border-width: thick;
    border-color: blue;
}
.img_cls {
    width:50px;
}

