.container {
}
.pile {
    position: absolute;
    left: 0.2in;
    top: 0.2in;
    height: 0.2in;
}
.border_red {
    border-style: solid;
    border-width: thick;
    border-color: red;
}
.border_green {
    border-style: solid;
    border-width: thick;
    border-color: green;
}
.border_blue {
    border-style: solid;
    border-width: thick;
    border-color: blue;
}
